.categories_title {
  padding-top: 60px;
  padding-left: 15px;
}

.categories_title h1 {
    font-size: 36px;
}

.categorie_single {
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align:center;
  position:relative;
}

.cat_title {
  position: absolute;
  margin: auto;
   top: 0;
   left:0;
   right:0;
   bottom:0;
   color:#fff;
  height:100px;
  text-transform: uppercase;
}
